body{
    height: 100%;
    /*background:linear-gradient(#9198e5,#eeeaf1 ) no-repeat center center fixed ;*/
    background:linear-gradient(#0e1461,#000000 ) no-repeat center center fixed ;
    
}

    


#inkho{
    text-align: center; 
    padding-top: 20px;
    font-size: 60px;
    color: rgb(146, 180, 245);
    font-family: 'Oswald', sans-serif;
    
}

.titre{
    padding: 50px 200px 20px ;
    font-size: 60px;
    color: rgb(146, 180, 245);
    font-family: 'Oswald', sans-serif;
    
}


/* Nav bar  */

#main-menu .nav-bar { 
    list-style:none; margin-top: 40px; 
}

#main-menu .nav-bar li { 
    display:inline; 
    padding:0 10px; 
}

#main-menu .nav-bar li a {
    /* text-decoration: none; */
    padding-left: 25px;
    color: rgb(255, 255, 255);
    /* text-shadow: 1px 1px 1px #eeeaf1; */
    
    
}

.nav-co{
    float: right;
    padding-top: 40px;
    
}

a{
    text-decoration: none;
    /* color: rgb(255, 255, 255); */
}
                                          







.container {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
  }
  
  .left {
    /* background-color: #f1f1f1; */
    padding: 10px;
    flex: 50%;
    position: relative;
  }
  
  .right {
    /* background-color: dodgerblue; */
    padding: 10px;
    flex: 50%;
  }
  
  /* Responsive layout - makes a one column-layout instead of two-column layout */
  @media (max-width: 800px) {
    .container {
      flex-direction: column;
    }
}

.info{
    text-align: left;
    padding: 20px;
}
p{
    color: white;
    font-family:Montserrat; 
}

/* #map{
    filter: blur(4px);
} */


