
body{
    height: 100%;
    /*background:linear-gradient(#9198e5,#eeeaf1 ) no-repeat center center fixed ;*/
    background:linear-gradient(#0e1461,#000000 ) no-repeat center center fixed ;
    color: rgb(253, 253, 253);
}

    


h1{
    text-align: center; 
    padding-top: 20px;
    font-size: 60px;
    color: rgb(146, 180, 245);
    
}

#titre{
    font-family : 'Old Standard TT', serif ;
    
    
}
/* Nav bar  */

#main-menu .nav-bar { 
    list-style:none; margin-top: 40px; 
}

#main-menu .nav-bar li { 
    display:inline; 
    padding:0 10px; 
}

#main-menu .nav-bar li a {
    text-decoration: none;
    padding-left: 25px;
    color: rgb(255, 255, 255);
    /* text-shadow: 1px 1px 1px #eeeaf1; */
    font-family : 'Old Standard TT', serif ;
    
}

.nav-co{
    float: right;
    padding-top: 40px;
    
}

/* Texte Info  */

#txt-intro{
    text-align:justify; 
    padding-top: 100px; 
    padding-left: 250px; 
    padding-right: 250px;

    
}

.txt-exp{
    text-align:justify; 
    padding-top: 150px; 
    padding-left: 250px; 
    padding-right: 250px;

    
}


p{
    font-family: 'Anton', sans-serif;
}


                                                 

