/*-------------------------------------- Body ------------------------------------------ */
body{
    height: 100%;
    /*background:linear-gradient(#9198e5,#eeeaf1 ) no-repeat center center fixed ;*/
    background:linear-gradient(#0e1461,#000000 ) no-repeat center center fixed ;
    
}


#info{
    color: rgb(146, 180, 245);
    font-family: 'Oswald', sans-serif;
     margin: 50px 20px 0px 20px  ; 
    
    text-align: center;
}

    
  /* Debut Gall */


.containerg {
	max-width: 1600rem;
	margin: 0 auto;
	padding: 50px 32px 32px;
}

.heading {
	
	font-size: 64px;
	font-weight: 500;
	line-height: 1.5;
	text-align: center;
	padding: 56px 0;
	color: #1a1a1a;
}

.heading span {
	display: block;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	
	margin: -16px -16px;
}

.gallery-item {
	
	flex: 16px 0 384px;
	
	margin: 16px;
	box-shadow: 5px 6px 6px rgba(0, 0, 0, 0.4);
	overflow: hidden;
}

.gallery-image {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 400ms ease-out;
}

.gallery-image:hover {
	transform: scale(1.15);
}

.containerimg {
    position: relative;
    text-align: center;
    color: white;
    font-weight: bold;
    text-shadow: rgb(0, 0, 0) 1px 1px 10px;
  }
  
.centered {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

@supports (display: grid) {
	.gallery {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
		grid-gap: 32px;
	}

	.gallery,
	.gallery-item {
		margin: 0;
	}
}